<html>
<head>
    <title>Token</title>
</head>
<body>
    <script>
    </script>
    <h1>Ciao, e grazie per aver effettuato l'accesso al nostro sito, ecco il tuo token: </h1>
    <p>Google token:</p> <% if (gconnected) { %>
        <%= gtoken %>

    <p>Google id token:</p> <%=gidtoken %>
    <% } %>
    
    Vuoi continuare? 
    <% if (xid!= ''){ %>
        <% var urll= "https://localhost:8000/details?xid="+xid; %>
        <a href= <%=urll %>>
            <button type= 'button'>YES!!</button>
        </a> 
    <% } else if (feedbackposting==true) { %>
        <a href= "https://localhost:8000/newfeedback">
            <button type= 'button'>YES!!</button>
        </a>
    <% } else { %>
        <a href= "https://localhost:8000/homepage">
            <button type= 'button'>YES!!</button>
        </a>
    <% } %>
</html>