<title>Recensione eliminata</title>
<h1>Recensione eliminata correttamente!</h1>
<h2>La tua richiesta è andata a buon fine, abbiamo eliminato la recensione di codice <%=cod %></h2>
<h3>
    <a href="https://localhost:8000/info"><button>Torna alla tua pagine personale</button></a><br><br>
</h3>