<title>Recensione eliminata</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width initial-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
<h1>Recensione eliminata correttamente!</h1>
<h2>La tua richiesta è andata a buon fine, abbiamo eliminato la recensione di codice <%=cod %></h2>
<h3>
    <a href="https://localhost:8000/info"><button class="mb-3">Torna alla tua pagine personale</button></a><br><br>
</h3>