<html>
<head>
    <title>Token expired</title>
</head>
<body>
    <h2>Il tuo token è scaduto, per favore riaccedi:</h2>
    <br><br> <a href= 'http://localhost:8000/'>
        <button type= 'button'>Accedi</button>
    </a>  
</body>
    