<html lang="eng">
<head>
  <title>Feedback</title>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
</head>
<script>
    // Create WebSocket connection.
    const socket = new WebSocket('ws://localhost:8080');
  
    // Connection opened
    socket.addEventListener('open', function (event) {
        console.log('Connected to WS Server')
    });
  
    // Listen for messages
    socket.addEventListener('message', function (event) {
        console.log('Message from server ', event.data);
    });
  
    const sendMessage = () => {
        var feed = document.getElementsByName('feed');
        if(feed[0].value ===''){
          alert("Per favore riempi il campo...!!!!!!");
          return false;
        }else{
          data = new Date();
          socket.send(data+': È stato inviato un feedback');
          return true;
        }
    }
</script>
<body class="text-center">
    <% if (!inviato){ %>
        <h2>SEGNALACELO:</h2>
        
        <br><form action="https://localhost:8000/feedback" method="POST">
            <% if (photo==""){ %>
                <input type="hidden" id="baseUrl" name="baseUrl" value=''>
            <% } else{ %>
                Immagine aggiunta:<br>
                <img src= <%= photo %> width="200" height="200"><br>
                <input type="hidden" id="baseUrl" name="baseUrl" value=<%=photo %>>
            
                
            <% } %>
            
            <textarea name="feed" style="resize:none" cols="60" rows="10" placeholder="Inviaci il tuo feed"></textarea><br>
            <input class="mb-3" type="submit" value="Invia" size="30" onclick="sendMessage()">
        </form>
        
        <p>Vuoi allegare anche una foto da Google Photos?
            <% if (!gconnected){ %>
                <br>Prima devi collegarti però!!</p>
                <a href="https://localhost:8000/googlelogin"><button class="mb-3">Collegati con google</button></a><br>
            <% } else { %>
                 
                
                <a href="https://localhost:8000/googlephotosapi?stato=feed"><button class="mb-3">Condividi foto</button></a><br>
        <% } %>
    <% } else { %>
        Fantastico!! Il feedback è stato ricevuto correttamente. Grazie per averci segnalato questa brutta cosa, cercheremo di risolverla al più presto!
        <a href="https://localhost:8000/home"><button class="mb-3">Torna alla home</button></a><br>
    <% } %>
</body>
</html>