<html lang="eng">
<head>
  <title>Homepage </title>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
</head>

<body class="text-center">
  <div id="fb-root"></div>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v10.0&appId=468739614360394&autoLogAppEvents=1" nonce="iFPJ5Fwi"></script>
  
  
  <h1 class="mb-3">Homepage</h1>    <h3>Ciao, <%=username%></h3> <a href="http://localhost:8000/info"><button class="mb-3">User info</button></a>
  <br> 

  <form action="http://localhost:8000/openmap" method="POST">
    
    <input class="mb-3" type="text" placeholder="Città" size="20" name="city" ><br>
    <select class="mb-3" size=1 cols=3 name="cat"><br>
      <option selected value=interesting_places> Interesting Places
      <option value=museums> Museums
      <option value=religion> Religion
      <option value=accomodations> Accomodations
      <option value=amusements> Amusements
      <option value=architecture> Architecture
      <option value=theatres_and_entertainments> Theaters and entertainments
      <option value=natural> Natural
      <option value=tourist_facilities> Tourist facilities
      <option value=historic> Historical
      <option value=industrial_facilities> Industrial facilities 
      <option value=sport> Sport
 

    </select>
    
    <input class="mb-3" type="text" placeholder="Raggio (KM)" size="10" name="rad" >
    <input class="mb-3" type="submit" value="Cerca" name="sub">
  </form>

  <% if (fconnected==true) { %>
  <a href="http://localhost:8000/logout"><button class="mb-3">Logout</button></a><br>
  
    <p><b>Condividi questo sito con i tuoi amici</b></p>
    <div class="fb-share-button" data-href="http://127.0.0.1:8000" data-layout="button" data-size="large"><a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Condividi</a></div>
    
  <%}%>

  <br><br>
  <b><a href="http://localhost:8000/newfeedback"><button class="mb-3">Non funziona?? Mandaci un feedback</button></a></b>

  <% if (!gconnected){ %>
      <br> <b><a href="http://localhost:8000/googlelogin"><button class="mb-3">Accedi con Google Photos!</button></a></b><br>

  <%}%>
   

  <fb:login-button autologoutlink="true"></fb:login-button></body>

</html>