<!DOCTYPE html>
<html lang="eng">
<head>
  <title>Homepage</title>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
</head>

<body class="text-center">
   
  <h1 class="mb-3">Homepage</h1>

  <form name="myForm" method="POST" action="http://localhost:8000/">

    <input class="mb-3" type="email" name="email" placeholder="Email" size="25"><br>
    <input class="mb-3" type="password" name="password" placeholder="Password" size="20"><br>
    Non hai un account? <a href="signup"> Registrati </a><br><br>
    <input type="submit" value="Accedi" name="sub"><br><br>
    <input type="submit" value="Accedi con Facebook" name="sub">

  </form>



    <%if (check==true){%>
      <h3>L'utente non esiste</h3>
     <%}%>
    <%if(registrazione==true){%>
      <h3>Registrazione effettuata correttamente</h3>
    <%}%>
</body>

</html>