<html>
<head>
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
</head>
<body>
    <script>
    </script>
    <h1>Primi 100 risultati per <%= cat %> in <%= citta %> </h1>
    <ul>
    <% for(var i=0; i<numero; i++) {%>
        <% if(data[i].properties.name.length > 0) {%>    
            <% var uri = "http://localhost:8000/details?xid="+data[i].properties.xid; %>
            <li><%= data[i].properties.name %></li><a href=<%=uri %> <li>Dettagli</li> </a>
        <% } %>
    <% } %>
    </ul>
     
</html>