<html>
<head>
    <title>Search</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
</head>
<body>
    <script>
    </script>
    <h1 class="mb-3">Primi 100 risultati per <%= cat %> in <%= citta %> </h1>
    <ul>
    <% for(var i=0; i<numero; i++) {%>
        <% if(data[i].properties.name.length > 0) {%>    
            <% var uri = "https://localhost:8000/details?xid="+data[i].properties.xid; %>
            <li><%= data[i].properties.name %></li><a href=<%=uri %> <li>Dettagli</li> </a>
        <% } %>
    <% } %>
    </ul>
     
</html>