<html>
<head>
    <title>Token</title>
</head>
<body>
    <script type="text/javascript">   
        function Redirect() 
        {  
            window.location="https://localhost:8000/home"; 
        } 
        setTimeout('Redirect()', 10000);   
    </script>
    <h1>Ciao, hai appena refreshato il tuo token, eccolo: </h1>
    <p>Token:</p> <%=ntoken%>
    
    Vai alla Homepage <a href= 'https://localhost:8000/home'>
        <button type= 'button'>Homepage</button>
    </a>  
    
    <br><br><br> Entro 10 secondi verrai reindirizzato alla homepage!!
</html>