<!DOCTYPE html>
<html>
    <head>
        <title>Registrati</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
    </head>
    <body class="text-center">
        <h1 class="mb-3">Registrati</h1>
        <form name="SignupForm" method="POST" action="http://localhost:8000/userinfo">

        Name:
        <input type="text" name="name" size="20" placeholder="Name" required><br><br>
        Surname:
        <input type="text" name="surname" size="20" placeholder="Surname" required><br><br>
        Username:
        <input type="text" name="username" size="20" placeholder="Username" required><br><br>
        Email:
        <input type="email" name="email" size="20" placeholder="Email" required><br><br>
        Password:
        <input type="password" name="password" size="20" placeholder="Password" required><br><br>
        Foto profilo:
        <input type="file" name="foto"><br><br>
        <input type="submit" value="Crea il mio account" name="signup">

       </form>

       <%if (check==false){%>
        <h3>L'username inserito non è disponibile, sceglierne un altro</h3>
       <%}%>

    </body>
</html>
