<title>Account eliminato</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width initial-scale=1.0"/>
<link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
<h2>Account eliminato correttamente!</h2>
<h3>La tua richiesta è andata a buon fine, abbiamo eliminato il tuo account <%=username%>, esci o clicca su 'Vai' per registrarti di nuovo!</h3><br>
<h3>
    <a href="https://localhost:8000"><button class="mb-3">Vai</button></a><br><br>
</h3>