<!DOCTYPE html>
<html lang="eng">
<head>
  <title>Homepage</title>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
</head>

<body class="text-center">
   
  <h2 class="mb-3">Benvenuto in PlaceAdvisor</h2>
  <h3 class="mb-3">Utilizza il nostro motore di ricerca per cercare e scoprire luoghi ed attrazioni in tutto il mondo!</h3><br>
  <h3 class="mb-3">Accedi e inizia subito!</h3>

  <form name="myForm" method="POST" action="https://localhost:8000/">
    <input type="submit" value="Accedi con Facebook" name="sub">

  </form>


</body>

</html>