<html>
<head>
    <title>Logout</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
</head>
<body class="text-center">
    <script>
    </script>
    <h1 class="mb-3">Logout</h1>

    <h2 class="mb-3">Ciao <%=user%>, sei sicuro di voler uscire? :'( </h2>
    
    <a href= "https://localhost:8000/home">
            <button class="mb-3" type= 'button'>Ho cambiato idea :)</button>
    </a><br>
    <br>
    <form action="https://localhost:8000/logout" method='POST'>
        <button class="mb-3" type="submit">
          Sì, sono convinto :(
        </button>  
    </form>